* {
	margin: 0;
	padding: 0;
	}
body {
	min-width: 100%;
	background-color: #FFFFFF;
	}
header {
	min-width: 100%;
}
header h1 {
	padding: 5px;
	text-align: center;
	color: #66CCFC; /* Color from the powerpoints */
}

#map {
	margin-top: -5%;
}

#basic {
	max-width:80%;
	margin: 0 auto;
	overflow: hidden;
	}
footer {
	min-width: 100%;
	color: #66CCFC;
	background-color: #4F4F4F; /* Color from the powerpoints */
}
footer p {
	text-align: center;
}
